<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Email Authentication</h3>
            <form (ngSubmit)="authenticate()" #authForm="ngForm">
              <div class="form-group">
                <label for="code">Email Code:</label>
                <input type="authCode" class="form-control" id="authCode" name="authCode" ngModel required>
              </div>
              <div class="form-group">
                <a href="">Resend Code</a>
              </div>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary btn-block col-md-3" [disabled]="!authForm.form.valid">Authenticate</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
