<div class="container mt-5">
<div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column h-100">
      <div class="flex-grow-1">
      <h4>Education</h4>
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let edu of education; let id= index">
      {{edu.name}} {{edu.degree}} 
      <button type="button" class="btn btn-danger float-right" (click)="deleteEdu(id)">X</button>
      </li>
      </ul>
    </div>

    
      <div class="flex-grow-1">
      <h4>Work Experience</h4>
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let exp of experience; let id= index">
      {{exp.name}} {{exp.title}} 
      <button type="button" class="btn btn-danger btn-sm float-right" (click)="deleteExp(id)">X</button>
      </li>
      </ul>
    </div>
    </div>
    </div>

      <div class="col-md-6">
          <form [formGroup]="step2Form" (ngSubmit)="onSubmit()">
            <div formGroupName="accInfo">
              <select 
              id="social" 
              name="social" 
              formControlName="accType">
              <option value="">-- Choose an Account --</option>
              <option value="Linkedin">Linkedin</option>
              <option value="Github">Github</option>
              <option value="Other">Other</option>
                
            </select>
              <input
              class="mx-3" 
              type="url" 
              id="socialLink" 
              formControlName="accLink"             
              >
              <button 
              type="button" 
              class="btn btn-primary" 
              (click)="onAddAcc()"
              >Add</button>
            
          </div>
          <div class="row">
              <div class="col form-group">
                  <ul class="list-group ">
                      <li class="list-group-item"
                      *ngFor="let social of accounts; let id=index">
                      {{social.name}} {{social.link}} 
                      <button type="button" class="btn btn-danger float-right" (click)="deleteAcc(id)">X</button></li>
                  </ul>
              </div>
          </div>
            <h4>Education:</h4>
            <div formGroupName="schoolInfo">
              <div class="row">
          
                <label for="school" class="col-sm-4 col-form-label">School Name:</label>
              <div class="col-sm-7">
                <input                 
                type="text"
                id="schoolName"
                class="form-control "
                formControlName="schoolName">
              </div>
              
              
                <label for="degree" class="col-sm-4 col-form-label mt-1">Degree:</label>
                <div class="col-sm-7 mt-1">
                <input type="text"
                id="degree"
                class="form-control"
                formControlName="degree">
                </div>
              
              
                <label for="specialization" class="col-sm-4 col-form-label mt-1">Specialization:</label>
                <div class="col-sm-7 mt-1">
                <input type="text"
                id="specialization"
                class="form-control"
                formControlName="specialization">
              </div>
              
                <label for="duration" class="col-sm-4 col-form-label mt-1">Duration:</label>
                <div class="col-sm-3 mt-1">
                <input type="number"
                id="stdate"
                min="1900" max="2100"
                class="form-control"
                formControlName="stDate">
                
                </div>
                <label for="-" class="col-sm-1 mt-1" >-</label>
                <div class="col-sm-3 mt-1">
                <input
                type="number"
                id="enddate"
                class="form-control"
                min="1900" max="2100"
                formControlName="endDate">
                </div>
              <div class="col-sm-1 ">
                <button type="button" 
                class="btn btn-primary" 
                (click)="onAddEducation()"
                [disabled]="!step2Form.get('schoolInfo')?.valid">Add</button>
              </div>
              </div>
              <span class="help-block"  *ngIf="step2Form.get('schoolInfo')?.touched">Education feild can not remain empty</span>

            </div>
          <h4 class="mt-4">Employee title:</h4>
          <div class="row mt-4">
            
                <label for="empTitle" class="col-sm-4 col-form-label">Employee title:</label>
                <div class="col-sm-7">
                <input type="text" id="empTitle" class="form-control" formControlName="employeeTitle">
              </div>
              </div>
              <h4 class="mt-4">Work Experience:</h4>
              <div formGroupName="workInfo">
              <div class="row">
              
                <label for="organization" class="mt-2 col-sm-4 col-form-label ">Organization Name:</label>
                <div class="mt-2 col-sm-7">
                <input type="text"
                id="organizationName"
                class="mt-2 form-control"
                formControlName="orgName">
              </div>
                <label for="title" class="mt-2 col-sm-4 col-form-label">Title:</label>
                <div class="mt-2 col-sm-7">
                <input type="text"
                id="title"
                class="mt-2 form-control"
                formControlName="title">
              </div>
                <label for="description" class="mt-2 col-sm-4 col-form-label">Description:</label>
                <div class="mt-2 col-sm-7">
                <input type="text"
                id="description"
                class="mt-2 form-control"
                formControlName="description">
              </div>
                <label for="duration" class="mt-2 col-sm-4 col-form-label">Duration:</label>
                <div class="mt-2 col-sm-3">
                <input type="number" id="start" class=" form-control"
                min="1900" max="2100"
                formControlName="stDate1">
              </div>
              <label for="-" class="col-sm-1 mt-2 " >-</label>
              <div class="mt-2 col-sm-3">
              <input type="number" id="end" class="form-control" 
              formControlName="endDate1"
              min="1900" max="2100">
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-primary" 
                (click)="onAddWorkExp()"
                [disabled]="!step2Form.get('workInfo')?.valid">Add</button>
              </div>
            </div>
            <span class="help-block" *ngIf="step2Form.get('workInfo')?.touched">Work Experience feild can not remain empty</span>
            </div>
          
            <div class="row justify-content-end mt-5">
              <button 
              type="submit" 
              class="btn btn-primary btn-block col-md-3">
              Next</button>
          </div>
        </form>
      </div>
  </div>
</div>
             
